body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(1, 73, 67);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif, Arial;
  text-align: center;
  min-width: fit-content;
}

#drawbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pixels {
  margin-bottom: 2rem;
}

#editor {
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 1rem 4rem 2rem 4rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  #options {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;

    .option {
      display: flex;
      flex-direction: column;
    }

    input {
      height: 5rem;
      width: 5rem;
      font-size: 2rem;
      text-align: center;
      background-color: rgb(1, 73, 67);
      color: white;
      border: 1px solid white;
      border-radius: 0.25rem;
      margin: 0 1rem 0.5rem 1rem;
      padding-left: 1rem;

      &:focus {
        outline: none;
        border-color:aqua;
        box-shadow: 0 0 0.5rem aqua;
      }
    }
  }

  .button {
    font-size: 1.25rem;
    background-color: cornflowerblue;
    color: white;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
      background-color: transparent;
      border-color: cornflowerblue;
      cursor: pointer;
    }
  }
}

.pixel {
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.row {
  display: flex;
  width: fit-content;
}

.color-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: white;
}

.toolbar-button {
  background-color:ghostwhite; 
  color: rgb(87, 75, 75);
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 7px;
}

.toolbar-button:hover {
  background-color: rgb(87, 75, 75);
  color: ghostwhite; 
}

.resize-canvas-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.resize-canvas-container label,
.resize-canvas-container input {
  margin-right: 1rem;
  width: 3rem;
  appearance: textfield;
}

.emoji-button {
  text-align: right;
  margin-left: 10px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}